html, body {
    height: 100%;
    background-color: white;
    font-family: 'Bungee Inline';
}
.sidebar {
    background-color: #9900cc;
}

.main {
    background-color: white;
}

header {
    font-family: 'Bungee Inline';
    text-shadow: 2px 2px #9900cc;
    margin: 30px 10px;
}

.mainMenu {
    background-color: #E6006D;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.twitchMenu {
    margin: 10px 0 -5px 0;
}

.menu {
    font-family: 'Bungee Inline'; 
    font-size: 20px;   
    text-align: center;
    display: inline;
    padding: 10px 5px;
    border: 1px;   
}

.menu:hover {
    background-color: #9900cc;
}

.triangle {
    display: inline-block; 
    font-size: 15px; 
    color: #9900cc;
}

.triUL {
    margin: 0 0 -15px 0;
    z-index: 1;
    position: relative;
}

#tri1 {
    padding: 0 25px 0 7px;
}

#tri2 {
    padding: 0 34px;
}

#tri3 {
    padding: 0 10px 0 50px;
}

#tri4 span {
    visibility: hidden;
}

.triangle span { 
    visibility: hidden;
    
}

.inputField {
    padding: 10px 0;
    background-color: lightgray;
}

input {
    font-family: Arial, FontAwesome; 
    width: 320px;
}

.userIcon {
    padding: 0 15px;
}

.userDeets {
    background-color: lightgray;
    padding: 15px;
    margin: 0 30px; 
}

.userDeets:hover {
    background-color: #9B00CC;
}

.userName {
    margin: 5px 80px 0 10px;
}

.fa-check {
    color: #93F300;
}

.fa-exclamation {
    color: #E6006D;
}




