html, body {
    background-color: #9900cc;
    font-family: 'Bungee Inline';    
}

.container {
    background-color: white;
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px;
       
}

header {
    font-family: 'Bungee Inline';
    text-shadow: 2px 2px #9900cc;
    margin: 30px 10px;
}

.nav {
    background: #E6006D;    
}

.menu{
    position: relative;
    background: #E6006D;
    font-size: 20px;   
    text-align: center;
    display: inline;
    padding: 10px 5px;
    border: 1px; 
    transition: font-size .5s;
}

.menu::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0; 
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 0;
    background: transparent;
    z-index: -1;
    
}

.menu:hover{
    background: #9900cc;
    font-size: 22px;
}

.menu:hover::before{
    border-top: 10px solid #9900cc;
}

.inputField {
    padding: 10px 0;
    background-color: lightgray;
}

input {
    font-family: Arial, FontAwesome; 
    width: 95%;
}

.userDeets {
    background-color: lightgray;
    padding: 15px;
    margin: 0 30px; 
}

@media only screen and (max-width: 500px) {
    .userIcon {
        padding: 5px;
    }
    .userName {
        font-size: 18px;
    }
}
.userIcon {
    height: 50px;
    width: 50px;
}

.userName {
    padding-top: 15px;
}

.userDeets:hover {
    background-color: #9B00CC;
}

.userStreaming {
    margin: -20px 0 0 0;
    font-family: 'Source Sans Pro', sans-serif;
    
}

.fa-check {
    color: #93F300;
    padding-top: 10px;
    margin-left: -10px;
}

.fa-exclamation {
    color: #E6006D;
    padding-top: 10px;
}

a:hover, a {
    color: black;
    text-decoration: none;
}

footer {
    padding-top: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: -25px;  
}

.amy {
    margin-bottom: -3px;
}

.clickMe {
    padding: 10px;
}

.clickMe:hover {
    background-color: #9B00CC;
}

.iconLinks{
    display: inline-block;
}


